## Prohibit autoindex
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # A activer dans le cas d'un déploiement distant ou utilisation d'un vhost
    # RewriteBase /backend/

    ## Restrict access to `vendor/` folder & `composer` files
    RewriteRule ^vendor/(.*)?$ / [F,L]
    RewriteRule ^composer\.(lock|json)$ / [F,L]

    ## Redirect all requests to `/backend/public/` folder
    RewriteRule ^$ public/ [QSA,NC,L]
    RewriteRule ^(.*)$ public/$1 [QSA,NC,L]
</IfModule>
